.calculadora{

    position: fixed;
    top:5%;
    left:40%;
}

.screen, .upperScreen{

    text-align:center;
    background-color: grey;
    height: 50px;
}

button {

    /*text*/
    margin:0.3em;
    color: hsl(0, 0%, 0%);
    font-size: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    text-align:center;


    /*box*/
    padding: 1em;
    width:10%;
    height:10%;

    /*border*/
    border: 2px solid hsl(240, 20%, 80%);

    /*background*/
    background: hsl(0, 0%, 76%); 
}

button:hover{

        /*background*/
        background: hsl(0, 0%, 90%);

        border: 2px solid hsl(192, 100%, 50%);

        text-decoration: none;

        transition:0.8s;
}
